doctype html

html
    head
        include components/_metaRTL.pug
        title Index.html
        link(rel="stylesheet", href="css/normalize.min.css")
        link(rel="stylesheet", href="css/about.min.css")
        link(rel="stylesheet", href="css/aboutRTL.min.css")
    body
        include helpers/_variablesRTL.pug
        include helpers/_mixinsRTL.pug
        include layout/_headerRTL.pug
        include pages/_aboutRTL.pug
        include layout/_footerRTL.pug

        script(src="http://localhost:35729/livereload.js")
        script(src="js/jquery-3.5.1.min.js")
        script(src="js/plugins.min.js")