/*
 * A placeholder to add the regular padding after and before any section
 */
%sectionTopBottomPadding{
    padding-top: $sectionPaddingTop;
    padding-bottom: $sectionPaddingBottom;
}

.clearfix{
    clear: both;
}