// Start About us
section(class="about-us")
    .container
        .wrapper
            .info-box
                h2 About Us
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ipsum dolor sit amet consectetur adipiscing elit. Tristique senectus et netus et. Velit euismod in pellentesque massa placerat duis ultricies lacus sed. Quis enim lobortis scelerisque fermentum dui. Amet cursus sit amet dictum sit amet justo.
            .img-box
                img(src="imgs/about-us_01.jpg" alt="About-us")

// Start Our Skills
section(class="our-skills")
    .container
        h2 Our Skills
        .skills
            .skill
                .title
                    h4 HTML
                .progress-box
                    .progress(data-progress="80")
            .skill
                .title
                    h4 CSS
                .progress-box
                    .progress(data-progress="70")
            .skill
                .title
                    h4 Javascript
                .progress-box
                    .progress(data-progress="60")
            .skill
                .title
                    h4 Java
                .progress-box
                    .progress(data-progress="65")
            .skill
                .title
                    h4 Racket
                .progress-box
                    .progress(data-progress="75")
            .skill
                .title
                    h4 SML
                .progress-box
                    .progress(data-progress="90")

// Start Our Gallary
section(class="our-gallary")
    .container
        h2 Our Gallary
        .imgs-box
            .img-box
                img(src="imgs/header_00.jpg" alt="Image One")
            .img-box
                img(src="imgs/header_01.jpg" alt="Image Two")
            .img-box
                img(src="imgs/header_02.jpg" alt="Image Three")
            .img-box
                img(src="imgs/header_03.jpg" alt="Image Four")
            .img-box
                img(src="imgs/header_04.jpg" alt="Image Five")
            .img-box
                img(src="imgs/gallary_00.png" alt="")
            .img-box
                img(src="imgs/gallary_01.jpg" alt="")
            .img-box
                img(src="imgs/gallary_02.jpg" alt="")
            .img-box
                img(src="imgs/gallary_03.jpg" alt="")
            .img-box
                img(src="imgs/gallary_04.jpg" alt="")

// Start Our Timeline
section(class="our-timeline")
    .container
        .time
            span 2018
        .timeline
        div(class="achievement achievement-left")
            .info-box
                h4 Testing Headings
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique. Amet porttitor eget dolor morbi non arcu risus quis varius.
            .bullet
        .clearfix
        div(class="achievement achievement-right")
            .info-box
                h4 Testing Headings
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique. Amet porttitor eget dolor morbi non arcu risus quis varius.
            .bullet
        .clearfix
        .time
            span 2016
        div(class="achievement achievement-left")
            .info-box
                h4 Testing Headings
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique. Amet porttitor eget dolor morbi non arcu risus quis varius.
            .bullet
        .clearfix
        div(class="achievement achievement-left")
            .info-box
                h4 Testing Headings
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vel elit scelerisque mauris pellentesque pulvinar pellentesque habitant morbi tristique. Amet porttitor eget dolor morbi non arcu risus quis varius.
            .bullet
        .clearfix

// Start Our Features
section(class="our-features")
    .container
        h2 Our Features
        .feats
            .feat
                .icon: img(src="imgs/icon_01.png" alt="Development Icon")
                h4 Development
                .h-line
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .feat
                .icon: img(src="imgs/icon_02.png" alt="Development Icon")
                h4 Development
                .h-line
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .feat
                .icon: img(src="imgs/icon_03.png" alt="Development Icon")
                h4 Development
                .h-line
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .feat
                .icon: img(src="imgs/icon_04.png" alt="Development Icon")
                h4 Development
                .h-line
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .feat
                .icon: img(src="imgs/icon_05.png" alt="Development Icon")
                h4 Development
                .h-line
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .feat
                .icon: img(src="imgs/icon_06.png" alt="Development Icon")
                h4 Development
                .h-line
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

// Start Testimonials
section(class="testimonials")
    .left-part
        .container
            h2 Testimonials
    .right-part
    .testimonials-box
        .testimonial-box
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .info-box
                .avatar: img(src="imgs/icon_01.png", alt="Avatar")
                .contact
                    h4 Ahmed Ramy
                    span CEO At Company
        .testimonial-box
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .info-box
                .avatar: img(src="imgs/icon_02.png", alt="Avatar")
                .contact
                    h4 Mohamed Ibrahim
                    span Developer At Company
        .testimonial-box
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            .info-box
                .avatar: img(src="imgs/icon_03.png", alt="Avatar")
                .contact
                    h4 Hassan Yassin
                    span Designer At Company

// Start Contact Us
section(class="contact-us")
    .overlay
    .wrapper
    .container
        h2 Contact Us
        form(action="")
            .left-box
                input(type="text", name="username", placeholder="Your Full Name")
                input(type="phone", name="phone", placeholder="Your Phone Number")
                input(type="email", name="email", placeholder="Your Email Address")
                input(type="address", name="address", placeholder="Your Full Address")
            .right-box
                textarea(name="message", placeholder=" Write Your Message")
                input(type="submit", value="Submit")