/**
 * A responsive container
 */
 .container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    @include tabletMedia{
        width: 750px;
    }
   
    @include smallScreenMedia{
        width: 950px;
    }
   
    @include largeScreenMedia{
        width: 1168px;
    }
}
