footer{
    text-align: center;
    background-color: #000;
    padding: 25px 0;
    span{
        color: #FFF;
        font-size: 21px;
        span{
            color: var(--main-color);
            cursor: pointer;
        }
    }
}